/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--gradient-stop-1: theme('colors.primary.light');
		--gradient-stop-2: theme('colors.primary.DEFAULT');
		--gradient-stop-3: theme('colors.primary.dark');
	}
	:root.theme-dark {
		--gradient-stop-1: theme('colors.accent.light');
		--gradient-stop-2: theme('colors.primary.DEFAULT');
		--gradient-stop-3: theme('colors.primary.light');
	}
}