/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* h1,
h2,
h3,
h4,
h5 {
	line-height: 1.1;
	@apply font-brand;
	font-weight: 600;
	color: var(--gray-100);
} */

@layer base {
	h1 {
		@apply text-5xl;
	}
	
	h2 {
		@apply text-4xl;
	}
	
	h3 {
		@apply text-3xl;
	}
	
	h4 {
		@apply text-2xl;
	}
	
	h5 {
		@apply text-xl;
	}
}

/* Global variables */
:root {
	/* 
		Colours 
		Light and dark theme is complementary to each other.
		Modify these colours for changing light and dark theme colours
	*/
	
	/* Theme Colors */
	--xjy-light: #00A393;
	--xjy-regular: #028EA1;
	--xjy-dark: #05648A;
	--xjy-light-basis: 187, 98%, 44%; /* Basis must be in HSL */
	--xjy-dark-basis: 187, 98%, 20%; /* Basis must be in HSL */
	--xjy-highlight: #F7F9DD; /* Highlight should contrast well with dark backgrounds */
	--xjy-emphasize: #EF6F6C; 
	
	/* Gray Scale */
	--xjy-gray-0: #090B11;
	--xjy-gray-0-basis: 225, 31%, 5%; /* Basis must be in HSL */

	--xjy-gray-50: #141925;
	--xjy-gray-100: #283044;
	--xjy-gray-200: #3D4663;
	--xjy-gray-300: #505D84;
	--xjy-gray-400: #6474A2;
	--xjy-gray-500: #8490B5;
	--xjy-gray-600: #A3ACC8;
	--xjy-gray-700: #C3CADB;
	--xjy-gray-800: #E3E6EE;
	--xjy-gray-900: #F3F4F7;
	
	--xjy-gray-999: #FFFFFF;
	--xjy-gray-999-basis: 0, 0%, 100%; /* Basis must be in HSL */

	/* Fonts */
	--font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	/* --font-body: 'Public Sans', var(--font-system); */
	/* --font-brand: Rubik, var(--font-system); */
	--font-body: 'Figtree', var(--font-system);
	--font-brand: 'Jost', var(--font-system);

	/* Text Sizes */
	/* --text-sm: 0.875rem;
	--text-base: 1rem;
	--text-md: 1.125rem;
	--text-lg: 1.25rem;
	--text-xl: 1.625rem;
	--text-2xl: 2.125rem;
	--text-3xl: 2.625rem;
	--text-4xl: 3.5rem;
	--text-5xl: 4.5rem; */

	/* Transitions */
	--theme-transition: 0.2s ease-in-out;
}

/* Light Theme */
:root {
	--gray-0: var(--xjy-gray-0);
	--gray-50: var(--xjy-gray-50);
	--gray-100: var(--xjy-gray-100);
	--gray-200: var(--xjy-gray-200);
	--gray-300: var(--xjy-gray-300);
	--gray-400: var(--xjy-gray-400);
	--gray-500: var(--xjy-gray-500);
	--gray-600: var(--xjy-gray-600);
	--gray-700: var(--xjy-gray-700);
	--gray-800: var(--xjy-gray-800);
	--gray-900: var(--xjy-gray-900);
	--gray-999-basis: var(--xjy-gray-999-basis);
	--gray-999_40: hsla(var(--gray-999-basis), 0.4);
	--gray-999: var(--xjy-gray-999);

	--accent-light: var(--xjy-light);
	--accent-regular: var(--xjy-regular);
	--accent-dark: var(--xjy-dark);
	--accent-overlay-basis: var(--xjy-light-basis);
	--accent-overlay: hsla(var(--accent-overlay-basis), 0.33);
	--accent-subtle-overlay-basis: var(--xjy-light-basis); 
	--accent-subtle-overlay: hsla(var(--accent-subtle-overlay-basis), 0.33);
	--accent-text-over: var(--gray-999);

	--link-color: var(--accent-regular);

	/* Gradients */
	--gradient-stop-1: var(--accent-light);
	--gradient-stop-2: var(--accent-regular);
	--gradient-stop-3: var(--accent-dark);
	--gradient-subtle: linear-gradient(150deg, var(--gray-900) 19%, var(--gray-999) 150%);
	--gradient-accent: linear-gradient(
		150deg,
		var(--gradient-stop-1),
		var(--gradient-stop-2),
		var(--gradient-stop-3)
	);
	--gradient-accent-orange: linear-gradient(
		150deg,
		var(--xjy-emphasize),
		var(--accent-regular),
		var(--accent-dark)
	);
	--gradient-stroke: linear-gradient(180deg, var(--gray-900), var(--gray-700));

	/* Shadows */
	--shadow-sm: 0px 6px 3px rgba(9, 11, 17, 0.01), 0px 4px 2px rgba(9, 11, 17, 0.01),
		0px 2px 2px rgba(9, 11, 17, 0.02), 0px 0px 1px rgba(9, 11, 17, 0.03);
	--shadow-md: 0px 28px 11px rgba(9, 11, 17, 0.01), 0px 16px 10px rgba(9, 11, 17, 0.03),
		0px 7px 7px rgba(9, 11, 17, 0.05), 0px 2px 4px rgba(9, 11, 17, 0.06);
	--shadow-lg: 0px 62px 25px rgba(9, 11, 17, 0.01), 0px 35px 21px rgba(9, 11, 17, 0.05),
		0px 16px 16px rgba(9, 11, 17, 0.1), 0px 4px 9px rgba(9, 11, 17, 0.12);
}

:root.theme-dark {
	--gray-0: var(--xjy-gray-999);
	--gray-50: var(--xjy-gray-900);
	--gray-100: var(--xjy-gray-800);
	--gray-200: var(--xjy-gray-700);
	--gray-300: var(--xjy-gray-600);
	--gray-400: var(--xjy-gray-500);
	--gray-500: var(--xjy-gray-400);
	--gray-600: var(--xjy-gray-300);
	--gray-700: var(--xjy-gray-200);
	--gray-800: var(--xjy-gray-100);
	--gray-900: var(--xjy-gray-50);
	--gray-999-basis: var(--xjy-gray-0-basis);
	--gray-999: var(--xjy-gray-0);

	--accent-light: var(--xjy-dark);
	--accent-regular: var(--xjy-regular);
	--accent-dark: var(--xjy-light);
	--accent-overlay-basis: var(--xjy-light-basis);
	--accent-overlay: hsla(var(--accent-overlay-basis), 0.33);
	--accent-subtle-overlay-basis: var(--xjy-dark-basis);
	--accent-subtle-overlay: hsla(var(--accent-subtle-overlay-basis), 0.33);
	--accent-text-over: var(--gray-0);

	--link-color: var(--accent-dark);

	--gradient-stop-1: var(--xjy-highlight);
	--gradient-subtle: linear-gradient(150deg, var(--gray-900) 19%, var(--gray-999) 81%);
	--gradient-accent-orange: linear-gradient(
		150deg,
		var(--xjy-emphasize),
		var(--accent-regular),
		var(--accent-light)
	);
	--gradient-stroke: linear-gradient(180deg, var(--gray-600), var(--gray-800));

	--shadow-sm: 0px 6px 3px rgba(255, 255, 255, 0.01), 0px 4px 2px rgba(255, 255, 255, 0.01),
		0px 2px 2px rgba(255, 255, 255, 0.02), 0px 0px 1px rgba(255, 255, 255, 0.03);
	--shadow-md: 0px 28px 11px rgba(255, 255, 255, 0.01), 0px 16px 10px rgba(255, 255, 255, 0.03),
		0px 7px 7px rgba(255, 255, 255, 0.05), 0px 2px 4px rgba(255, 255, 255, 0.06);
	--shadow-lg: 0px 62px 25px rgba(255, 255, 255, 0.01), 0px 35px 21px rgba(255, 255, 255, 0.05),
		0px 16px 16px rgba(255, 255, 255, 0.1), 0px 4px 9px rgba(255, 255, 255, 0.12);
}

html,
body {
	height: 100%;
	overflow-x: hidden;
  margin: 0;
}

body {
  font-family: var(--font-body);
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}

.theme-colors {
  color: var(--gray-200);
  background-color: var(--gray-999);
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.1;
	font-family: var(--font-brand);
	font-weight: 600;
	color: var(--gray-100);
}

/* h1 {
	font-size: var(--text-5xl);
}

h2 {
	font-size: var(--text-4xl);
}

h3 {
	font-size: var(--text-3xl);
}

h4 {
	font-size: var(--text-2xl);
}

h5 {
	font-size: var(--text-xl);
} */

/* Utilities */
/* .container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 575px) {
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
} */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.wrapper {
	width: 100%;
	max-width: 83rem;
	margin-inline: auto;
	padding-inline: 1.5rem;
}

.stack {
	display: flex;
	flex-direction: column;
}

/* .gap-2 {
	gap: 0.5rem;
}
.gap-4 {
	gap: 1rem;
}
.gap-8 {
	gap: 2rem;
}
.gap-10 {
	gap: 2.5rem;
}
.gap-15 {
	gap: 3.75rem;
}
.gap-20 {
	gap: 5rem;
}
.gap-30 {
	gap: 7.5rem;
}
.gap-48 {
	gap: 12rem;
} */

/* @media (min-width: 50em) {
	.lg\:gap-2 {
		gap: 0.5rem;
	}
	.lg\:gap-4 {
		gap: 1rem;
	}
	.lg\:gap-8 {
		gap: 2rem;
	}
	.lg\:gap-10 {
		gap: 2.5rem;
	}
	.lg\:gap-15 {
		gap: 3.75rem;
	}
	.lg\:gap-20 {
		gap: 5rem;
	}
	.lg\:gap-30 {
		gap: 7.5rem;
	}
	.lg\:gap-48 {
		gap: 12rem;
	}
} */


