---
import Card from '../components/Card.astro';
import { NAME } from '../scripts/globals';
import HomePageHeader from '../components/HomePageHeader.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import SectionHeader from '../components/SectionHeader.astro';
import ActionButton from '../components/ActionButton.astro';
import ContactMe from '../components/ContactMe.astro';
---

<BaseLayout title={NAME} showNavBackground={true}>
  <HomePageHeader />
  <div class="spacer theme-colors"></div>
  <main class="theme-colors">
    <div class="wrapper">
      
    </div>
		<ContactMe />
  </main>
</BaseLayout>

<style>
  main {
    width: 100vw;
    z-index: 1;
  }

  .spacer {
    height: 150px;
  }
</style>
