---
import '../styles/global.css';
import { getWorkCollection } from '../scripts/util';
import ContactMe from '../components/ContactMe.astro';
import HomePageLayout from '../layouts/HomePageLayout.astro';
import SkillsHighlight from '../components/SkillsHighlight.astro';
import SectionHeader from '../components/SectionHeader.astro';
import PreviewCard from '../components/PreviewCard.astro';
import PreviewList from '../components/PreviewList.astro';
import SectionWrapper from '../components/SectionWrapper.astro';

const workExperience = (await getWorkCollection()).slice(0, 4);
---

<HomePageLayout>
  <SectionWrapper>
    <SkillsHighlight />
  </SectionWrapper>

  <SectionWrapper flex={true}>
    <SectionHeader
      title="My Journey So Far"
      tagline="Have a look at where my software development journey has taken me so far."
      titleFontSize="text-xl md:text-3xl"
      taglineFontSize="text-md md:text-lg"
    />
    <PreviewList>
      {
        workExperience.map((v) => (
          <li>
            <PreviewCard project={v} />
          </li>
        ))
      }
    </PreviewList>
  </SectionWrapper>
  <ContactMe />
</HomePageLayout>
