---
import ActionButton from './ActionButton.astro';
import Icon from './Icon.astro';
import { LINKS } from '../scripts/globals';
---

<aside
  class="w-100 border-b border-t border-b-gray-800 border-t-gray-800 py-10 md:py-20"
>
  <div class="container">
    <h2 class="mb-2 max-w-prose text-center text-xl md:text-3xl">
      Let's connect!
    </h2>
    <div class="mx-auto flex w-min flex-col gap-2 md:flex-row">
      <ActionButton href={LINKS.email}>
        Email
        <Icon icon="envelope" size="1.2em" />
      </ActionButton>
      <ActionButton href={LINKS.linkedin}>
        LinkedIn
        <Icon icon="linkedin-logo" size="1.2em" />
      </ActionButton>
    </div>
  </div>
</aside>

<style></style>
