---
import SectionHeader from "./SectionHeader.astro";

---
<div id="background"></div>
<div id="spacer"></div>
<div id="title-container">
  <SectionHeader
    color="var(--gray-0)"
    title="Kenneth Yue"
    tagline="Hello! I am a Full-Stack Developer currently based in Toronto, Ontario"
  />
</div>

<style>
  i {
    margin-bottom: 0.25rem;
  }

  #spacer {
    height: 30vh;
  }
  
  #title-container {
    width: 100vw;
    height: 50vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    background: var(--gray-999);
		background: linear-gradient(
			0deg,
			hsla(var(--gray-999-basis), 1) 0%,
			hsla(var(--gray-999-basis), 0.5) 40%,
			hsla(var(--gray-999-basis), 0) 100%
		);
  }

  @media (max-width: 50em) {
    #spacer {
      height: 32vh;
    }
  }
  
  #background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -2;
    background-image: url('/images/header-background.jpeg');
    background-position: center;
    background-size: cover;
  }
</style>