---
import SectionHeader from './SectionHeader.astro';
import { NAME } from '../scripts/globals';
import Nav from './Nav.astro';
---

<div
  class="fixed bottom-[calc(100vh-1px)] left-0 right-0 h-screen bg-gray-50 dark:bg-gray-950"
>
</div>
<div
  class="fixed top-0 -z-10 h-screen-sm w-full bg-[url('/images/portrait/20230429_portrait_lg.jpg')] bg-cover bg-center"
>
</div>
<div class="grid h-screen-sm auto-cols-auto grid-rows-[auto_1fr]">
  <Nav showBackground={true} />
  <div
    class="m-0 flex h-[45svh] items-end justify-center self-end bg-gradient-to-t from-gray-50 from-5% via-gray-50/50 via-40% to-transparent to-100% px-8 pb-[7vh] dark:from-gray-950 dark:via-gray-950/50"
  >
    <SectionHeader
      color="text-gray-900 dark:text-gray-50"
      beforeLineColor="before:bg-gray-900 before:dark:bg-gray-50"
      afterLineColor="after:bg-gray-900 after:dark:bg-gray-50"
      title={NAME}
      tagline="Hello! I am a Software Developer currently based in Toronto, Ontario"
    />
  </div>
</div>

<style></style>
