---
import SectionHeader from "./SectionHeader.astro";
import { NAME } from "../scripts/globals";
import Nav from "./Nav.astro";


---
<div id="pre-page-spacer"></div>
<div id="background"></div>
<div id="home-page-header">
  <Nav showBackground={true} />
  <div id="title-container">
    <SectionHeader
      color="var(--gray-0)"
      title={NAME}
      tagline="Hello! I am a Software Developer currently based in Toronto, Ontario"
    />
  </div>
</div>

<style>
  i {
    margin-bottom: 0.25rem;
  }

  #home-page-header {
    height: 100vh;
    height: 100svh;
    display: grid;
    grid-template: auto 1fr auto / auto;
  }

  #pre-page-spacer {
    position: fixed;
    bottom: 100vh;
    height: 100svh;
    left: 0;
    right: 0;
    top: -100vh;
    background: var(--gray-999);
  }
  
  #title-container {
    grid-area: 3 / 1;
    height: 45vh;
    height: 45svh;
    padding: 5vh;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    background: var(--gray-999);
		background: linear-gradient(
			0deg,
			hsla(var(--gray-999-basis), 1) 0%,
			hsla(var(--gray-999-basis), 0.5) 40%,
			hsla(var(--gray-999-basis), 0) 100%
		);
  }

  #background {
    width: 100vw;
    height: 100vh;
    height: 100svh;
    position: fixed;
    top: 0;
    z-index: -2;
    background-image: url('/images/portrait/20230429_portrait_lg.jpg');
    background-position: center;
    background-size: cover;
  }
</style>