---
import { ItemsPositionClass } from '../scripts/tailwindTypes';

interface Props {
  flex?: boolean;
  align?: ItemsPositionClass;
}

const { flex = true, align = 'items-center' } = Astro.props;
let classList: [string, ItemsPositionClass] = null;
if (flex) {
  classList = [
    'flex flex-col',
    align
  ];
}
---

<section class="mx-8">
  <div class:list={['container', classList]}>
    <slot />
  </div>
</section>

<style></style>
