---
type ItemsPosition = 'start' | 'center' | 'end';
type ItemsClass = `items-${ItemsPosition}`;

interface Props {
  flex?: boolean;
  align?: ItemsPosition;
}

const { flex = true, align = 'center' } = Astro.props;
let classList: [string, ItemsClass] = null;
if (flex) {
  classList = [
    'flex flex-col',
    `items-${align}`
  ];
}
---

<section class="mx-8">
  <div class:list={['container', classList]}>
    <slot />
  </div>
</section>

<style></style>
