---
import Icon from './Icon.astro';
import { IconName } from './IconPaths';

interface Highlight {
  icon: IconName;
  title: string;
  description: string;
}

const highlights: Highlight[] = [
  {
    icon: 'code',
    title: 'Full Stack',
    description:
      'Familiarity in all aspects of software development, from the front-end to the back-end.',
  },
  {
    icon: 'graduation-cap',
    title: 'Growth Mindset',
    description:
      'Enthusiasm for ongoing learning and growth in the fast-paced world of technology.',
  },
  {
    icon: 'strategy',
    title: 'Problem Solver',
    description:
      'Enthusiasm analyzing and resolving complex technical issues and debugging applications.',
  },
];
---

<section class="flex flex-col gap-12 md:grid md:grid-cols-3 md:gap-20">
  {
    highlights.map((highlight) => (
      <div class="flex flex-col gap-2 md:gap-4">
        <Icon
          icon={highlight.icon}
          color="var(--accent-regular)"
          size="2.5rem"
          gradient
        />
        <h2 class="font-brand text-lg md:text-2xl">{highlight.title}</h2>
        <p class="text-slate-600 dark:text-slate-400">
          {highlight.description}
        </p>
      </div>
    ))
  }
</section>

<style></style>
