---
import Icon from './Icon.astro';
---

<theme-toggle>
  <button
    class="flex cursor-pointer rounded-full bg-gray-50 p-0 shadow-[inset_0_0_0_2px] shadow-teal-400 dark:bg-gray-950 dark:shadow-teal-600"
  >
    <span class="sr-only">Dark theme</span>
    <span
      class="before:content[''] transition-color relative z-10 flex h-[2rem] w-[2rem] p-2 text-[1rem] text-gray-100 xjy-transition before:absolute before:inset-0 before:-z-10 before:rounded-full before:bg-teal-600 before:transition-transform before:xjy-transition dark:text-teal-400 dark:before:translate-x-full dark:before:bg-teal-400"
      ><Icon icon="sun" /></span
    >
    <span
      class="transition-color relative z-10 flex h-[2rem] w-[2rem] p-2 text-[1rem] text-teal-600 xjy-transition dark:text-gray-100"
      ><Icon icon="moon-stars" /></span
    >
  </button>
</theme-toggle>

<style></style>

<script>
  class ThemeToggle extends HTMLElement {
    constructor() {
      super();

      const button = this.querySelector('button')!;

      /** Set the theme to dark/light mode. */
      const setTheme = (dark: boolean) => {
        document.documentElement.classList[dark ? 'add' : 'remove'](
          'theme-dark'
        );
        button.setAttribute('aria-pressed', String(dark));
      };

      // Toggle the theme when a user clicks the button.
      button.addEventListener('click', () => setTheme(!this.isDark()));

      // Initialize button state to reflect current theme.
      setTheme(this.isDark());
    }

    isDark() {
      return document.documentElement.classList.contains('theme-dark');
    }
  }
  customElements.define('theme-toggle', ThemeToggle);
</script>
