---
import Footer from '../components/Footer.astro';
import HomePageHeader from '../components/HomePageHeader.astro';
import Nav from '../components/Nav.astro';
import BaseLayout from './BaseLayout.astro';

export interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
---
<BaseLayout title={title} description={description}>
  <body>
    <Nav showBackground={true} />
    <HomePageHeader />
    <div class="theme-colors">
      <div class="spacer"></div>
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</BaseLayout>

<style>
  main {
    width: 100vw;
    z-index: 1;
  }
  
  .spacer {
    height: 150px;
  }
</style>  
