---
import Footer from '../components/Footer.astro';
import HomePageHeader from '../components/HomePageHeader.astro';
import BaseLayout from './BaseLayout.astro';

export interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
---
<BaseLayout title={title} description={description}>
  <HomePageHeader />
  <div class="theme-colors">
    <div class="spacer"></div>
    <main>
      <slot />
    </main>
    <Footer />
  </div>
</BaseLayout>

<style>
  main {
    width: 100vw;
    z-index: 1;
  }
  
  .spacer {
    height: 75px;
  }
</style>  
